@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Montserrat:wght@300&family=Permanent+Marker&display=swap');

/*General Rules*/
body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #06080F;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
img { width: 100%;}
h2 {
    color: #FCA311;
    border-bottom: 1px dashed;
}
h3 {
    clear: left;
}
ul {
    width: 50%;
}
a:link {color: #FCA311;}
a:visited {color: #B8B8B8;}
a:focus {background-color: #FCA311; color: #FDC05D}
a:hover {color: #FDC05D;}
a:active {color: #E5E5E5;}
.multiContainter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}
.multiContainter img, .multiContainter object {
    
    width: 30%;
}
.multiContainter p {
    width: 60%;
}
.thumbnail {
    border: 10px solid #06080F;
}
.thumbnail img {
    border: 3px dashed #FCA311;
}
.thumbnailTitle {
    text-align: center;
    font-size: large;
    font-weight: bolder;
    background-color: #FCA311;
    border: 10px solid #06080F;
    padding: 1.5em;
    padding-left: 50px;
}
.thumbnailTitle a {
    text-decoration: none;
    color: #E5E5E5;
}
.projectType {
    background-color: #B8B8B8;
    color: #06080F;
    border: 10px solid;
    padding: 1em;
}
.codingLanguage {
    background-color: #14213D;
    border: 10px solid #06080F;
}
.repoLink {
    background-color: #06080F;
    border: 10px solid #06080F;
    border-radius: 100%;
}
.info {
    background-color: #14213D;
    border: 10px solid #06080F;
    padding: 1em;
}



/*asides and figures have similar, but not the same style*/
aside {
    font-size: small;
    color: #B8B8B8;
    flex-direction: column;
    width: 30%;
    border: 5px dashed #14213D;
    margin: 2em;
}
aside.multiContainter img, figure.multiContainter img {
    width: 100%;
}
aside.multiContainter p, figure.multiContainter p {
    width: 100%;
}
figure{
    font-size: small;
    color: #E5E5E5;
    flex-direction: column;
    width: 30%;
    border: 5px dashed #FCA311;
}


header {
    margin-bottom: 10em;
    width: 100%;
}
/*Top Navigation styles*/
#topNav {
    background-color: #14213D;
    width: 100%;
}
#topNav ul {
    display: flex;
    justify-content: center;

    width: 70%;
    margin: auto;
    padding: 0;
}
#topNav li {
    list-style: none;
    /*display: inline-block;*/
}
#topNav a{
    display: block;
    text-decoration: none;
    color: #FCA311;
    transition: all 0.3s ease 0s;

    text-align: center;
    font-size: large;
    padding: 1.5em;
    /*width: 30%;*/
}
#topNav a:hover, a:focus{
    background-color: #E5E5E5;
    color: #06080F;
}
#topNav a:active{
    background-color: #06080F;
    color: #E5E5E5;
}
/*----- end top Nav styles ----*/
/*Styles for specific header elements*/
#title{ 
    background-color: rgba(252, 162, 17, 0.75);
}
h1 {
    font-size: 40px;
    padding: 0.5em;
    margin: 40px 0;
}
#headline{
    background-color: #14213D;
}
#profile {
    /*border-radius: 2px;*/
    border: 5px dashed #FCA311;
}

/*styles for main elements*/
#spCollide
{
    float: right;
}
/*
#spEnemyStandard {
    float: left;
}
#spEnemyShoot {
    float: left;
}
#spEnemyFast {
    float: left;
}
*/
#sgbLore {
    float: right;
}
#sgbDebug {
    float: left;
}
#sgbEditor {
    float: right;
}

#thumbnailGrid {
    display: grid;
    grid-template-columns: repeat(3, 50px 50px 50px 1fr 50px 50px 50px);
    grid-template-rows: repeat(10, 50px);
}
#aboutMe {grid-area: 1 / 11 / 6 / -1;}

#sgbImage {grid-area: 2 / 2 / 6 / 11;}
#sgbTitle {grid-area: 1 / 2 / 3 / 9;}
#sgbType {grid-area: 3 / 1 / 5 / 4;}
#sgbLang {grid-area: 1 / 9 / 2 / 10;}
#sgbRepo {grid-area: 1 / 1 / 3 / 3;}

#bgImage {grid-area: 6 / 1 / -1 / 8}
#bgTitle {grid-area: -3 / 6 / -1 / 11}
#bgType {grid-area: -5 / 6 / -3 / 9;}
#bgRepo {grid-area: -3 / 5 / -1 / 7;}

#spImage {grid-area: 6 / 11 / -1 / 17;}
#spTitle {grid-area: -3 / -6 / -1 / -2;}
#spType {grid-area: -5 / -5 / -3 / -2;}
#spLang {grid-area: -5 / -6 / -4 / -5;}
#spEngine {grid-area: -4 / -6 / -3 / -5;}
#spRepo {grid-area: -3 / -7 / -1 / -5;}

#headerGrid {
    display: grid;
    width: 95%;
    margin: auto;

    grid-template-columns: 20px 30px 1fr 60px 20px;
    grid-template-rows: 80px 30px 1fr 0.5fr;
}
#banner {grid-area: 1 / 1 / 3 / -1;}
#title {grid-area: 2 / 2 / 4 / 4;}
#headline {grid-area: 4 / 2 / -1 / -2;}

@media screen and (min-width: 860px) {
    #headerGrid{ 
        grid-template-columns: 50px 270px 1fr 3fr 50px;
        grid-template-rows: 80px 150px 60px 60px 50px;
    }
    #banner {grid-area: 1 / 1 / -3 / -1;}
    #title {grid-area: 2 / 2 / 5 / 3;}
    #headline {grid-area: -4 / -3 / -1 / -2;}
}

@media screen and (min-width: 1250px) {
    body {
        width: 1250PX;
        margin: auto;
    }
    #headerGrid
    {
        width: 1200px;
    }
}

