* {
    box-sizing: border-box;
}
body {
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
}
header {
    display: flex;
    justify-content: space-between;
    border: 3px solid black;
    height: 10%;
}
nav {
    display: flex;
    align-items: center;
}
nav div {
    margin: 1em;
}
footer{
    border: 3px solid black;
    height: 5%;
}

main {
    display: grid;
    grid-template-areas: 
    "decks  contents"
    "cards  contents";
    grid-template-columns: 1fr 300px;
    grid-template-rows: 25% 75%;

    height: 85%;
}
#decks {
    grid-area: decks;

    display: flex;
    align-items: center;

    height: 100%;
    border: 3px solid black;
}
#decks div {
    height: 150px;
    width: 150px;
    margin: 1em;
    border: 3px solid black;
}
#cardSearch {
    grid-area: cards;
    height: 100%;
    display: flex;
    flex-direction: column;
} 
#filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
}
#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: minmax(auto, 100%);
    border: 3px solid black;

    overflow-y: auto; /* Enables vertical scrolling. */
    height: 100%;
}
/*
#cardNav {
    grid-area: -2 / 1 / -1 / -1;
    margin: auto;
}
*/
#deckInspector {
    grid-area: contents;

    border: 3px solid black;
}
#deckContents {
    width: 100%;
    height: 88%;

    border: 3px solid black;

    overflow-y: scroll;
}
#deckInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    border: 3px solid black;
    width: 100%;
    height: 12%;
    text-align: center;
}

.cardDisplay{
    margin: 5px;
    aspect-ratio: 5 / 7;
    max-height: 100%;
}
.cardDisplay img{
    width: 100%;
}

.deckCard {
    display: flex;
    align-items: center;

    margin: 5px 1em;
    padding: 3px;
    border: 1px solid black;
    border-radius: 5px;
}
.cardName {
    margin-left: 10px;
    padding: 0 5px;

    height: 1.1em;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.cardCount {
    margin-right: 5px;
    padding: 0 5px;
    width: 2em;

    border-right: 1px solid black;
}

/*searchbar inputs*/
#cost {
    width: 3em;
}

#manaType {
    display: flex;
    align-items: center;
}
.manaSelector {
    margin: 5px;
    width: 30px;
    height: 30px;
}
/*Mana emblems*/
.manaSelector input {
    /*background-image: url("../media/RedMana.svg");*/
    display: none;
    padding: 0;
    margin: 0;
}
.manaSelector span {
    display: inline-block;
    width: 100%;
    height: 100%;
    user-select: none;
}

#white span {background: url("../media/WhiteMana.svg");}
#white input:checked + span {background: url("../media/WhiteMana_Selected.svg");}
#black span {background: url("../media/BlackMana.svg");}
#black input:checked + span {background: url("../media/BlackMana_Selected.svg");}
#red span {background: url("../media/RedMana.svg");}
#red input:checked + span {background: url("../media/RedMana_Selected.svg");}
#blue span {background: url("../media/BlueMana.svg");}
#blue input:checked + span {background: url("../media/BlueMana_Selected.svg");}
#green span {background: url("../media/GreenMana.svg");}
#green input:checked + span {background: url("../media/GreenMana_Selected.svg");}