header {
    display: flex;
    justify-content: space-between;
    border: 3px solid black;
}
nav {
    display: flex;
    align-items: center;
}
nav div {
    margin: 1em;
}

main {
    display: grid;

    grid-template-areas: 
    "decks  contents"
    "cards  contents";

    grid-template-columns: 1fr 300px;
}
#decks {
    grid-area: decks;

    display: flex;
    align-items: center;

    height: 200px;
    border: 3px solid black;
}
#decks div {
    height: 150px;
    width: 150px;
    margin: 1em;
    border: 3px solid black;
}
#cardSearch {
    grid-area: cards;
} 
#filters {
    display: flex;
}
#cards {
    display: grid;
    grid-template-rows: repeat(2,minmax(290px, 1fr)) 20px;
    grid-template-columns: repeat(6, minmax(200px, 1fr));
    border: 3px solid black;
}
#cardNav {
    grid-area: -2 / 1 / -1 / -1;
    margin: auto;
}
#deckContents {
    grid-area: contents;

    border: 3px solid black;
}
#deckName {
    border: 3px solid black;
    width: 100%;
    text-align: center;
}